<div class="card bg-light top-padded">
    <div class="line-chart">
        <svg></svg>
    </div>
    <div>
        <label>Duration:</label>
        <select class="form-control" [ngModel]="model.durationMinutes" (ngModelChange)="setDurationHandler($event)">
            <option *ngFor="let duration of [5, 30, 60]" [ngValue]="duration">{{ 'Past ' + duration + ' mins'}}</option>
            <option [ngValue]="720">Past 12 hours</option>
            <option [ngValue]="1440">Past 1 day</option>
            <option [ngValue]="10080">Past 1 week</option>
            <option [ngValue]="43200">Past 1 month</option>
        </select>
        <label>Refresh Interval:</label>
        <select class="form-control" [ngModel]="model.intervalSeconds" (ngModelChange)="setIntervalHandler($event)">
            <option *ngFor="let interval of [10, 15, 30, 60]" [ngValue]="interval">{{ interval + ' secs' }}</option>
        </select>
    </div>
</div>
